apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ k8s_ca_data }}
    server: {{ k8s_host }}
  name: hybridlambda.local
contexts:
- context:
    cluster: hybridlambda.local
    user: kubernetes-admin
  name: kubernetes-admin@hybridlambda.local
current-context: kubernetes-admin@hybridlambda.local
kind: Config
preferences: {}
users:
- name: kubernetes-admin
  user:
    client-certificate-data: {{ k8s_client_cert_data }}
    client-key-data: {{ k8s_client_key_data }}