apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ k8s_ca_data }}
    server: {{ k8s_host }}
  name: hybridlambda.local
contexts:
- context:
    cluster: hybridlambda.local
    user: {{ k8s_user }}
  name: {{ k8s_user }}n@hybridlambda.local
current-context: {{ k8s_user }}@hybridlambda.local
kind: Config
preferences: {}
users:
- name: {{ k8s_user }}
  user:
    client-certificate-data: {{ k8s_client_cert_data }}
    client-key-data: {{ k8s_client_key_data }}